<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Clientes</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark p-4">
        <a class="navbar-brand" href="/dispositivos/">Iot Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/dispositivos/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dispositivos/list">Listar Dispositivos</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container text-white text-center p-3 mt-5" style="background-color: #f5979e;">
        <h1>Atualização de Dispositivo</h1>
    </div>
    <div class="container mt-5 shadow-lg p-3 mb-5 bg-white rounded border border-dark">
        <form id="form" action="{% url 'updDevice' id=registro.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" id="pk" value="0">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" value="{{registro.nome}}" required>
            </div>
            <div class="form-group">
                <label for="celular">Endereço</label>
                <input type="text" class="form-control" id="endereco" name="endereco" value="{{registro.endereco}}" required>
            </div>
            <div class="form-group">
                <label for="email">Chave</label>
                <input type="text" class="form-control" id="chave" name="chave" value="{{registro.chave}}" required>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button class="btn btn-secondary ml-2" onclick="voltar()">Voltar</button>
        </form>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<script>
    function voltar(){
        window.history.back()
    }
</script>
</html>