{% extends 'base/base.html' %}
{% block content %}
    <div class="container mt-5 shadow-lg p-3 mb-5 bg-white rounded border border-dark">
        <form id="form" action="{% url 'addDevice' %}" method="post">
            {% csrf_token %}    
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
            </div>
            <div class="form-group">
                <label for="celular">Endereço</label>
                <input type="text" class="form-control" id="endereco" name="endereco" required>
            </div>
            <div class="form-group">
                <label for="email">Chave</label>
                <input type="text" class="form-control" id="chave" name="chave">
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <button type="reset" class="btn btn-secondary ml-2">Reset</button>
        </form>
    </div>
{% endblock %}
