<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    body{
        background-color: #ffff;
    }
    nav {
        background-color: #ff00c8;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark p-4 justify-content-center">
        <a class="navbar-brand" href="/dispositivos/">Iot Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/dispositivos/"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dispositivos/list">Listar Dispositivos</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="jumbotron" style="background-color: #f8ced1;">
            <h1 class="display-3">Seja bem-vindo(a)!</h1>
            <p class="lead">O intuito desse site é auxiliá-lo no controle de seu dispositivo IoT.</p>
            <hr class="my-4">
            <p>Para desfrutar de nossas funcionalidades, interaja com o menu acima.</p>
        </div>
    </div>
    <footer class="fixed-bottom text-center text-white p-3" style="background-color: #ff00c8;">
        &#169; Todos os direitos reservados.</footer>
</body>

</html>